@using ShowTracker.Data.Models
@using System.Security.Claims

@model IEnumerable<Show>

@{
	ViewBag.Title = "Shows";
}

<link rel="stylesheet" href="~/css/explore.css" />

<div class="container">
	<div class="grid">
		@{
			string[] files = Directory.GetFiles("wwwroot/ShowPics/");
		}
		@foreach (Show show in Model)
		{
				<a href = "@Url.Action("Index", "Show", new{ id=show.Id ,seasonNumber=1})" class="card-link">
					<div class="card">
					@{
						string imageUrl = null;

						foreach (string images in files)
						{
							if (images.ToLower().Contains(show.Name.ToLower()))
							{
								imageUrl = images.Replace("wwwroot", "").Replace("\\", "/");
								break;
							}
						}
					}

						<img src="@(imageUrl ?? "/images/no-image.png")" class="poster" alt="@show.Name" />

						<div class="info">
							<div>
								<div class="title">@show.Name</div>
								<div class="year">@show.Description</div>
							</div>
						@if (User.Identity != null && User.Identity.IsAuthenticated)
						{
							if (show.Users.Any(us=>us.ShowId==show.Id))
							{
								<a class="follow-btn" asp-controller="Show" asp-action="FollowShow" asp-route-id="@show.Id">
									Unfollow
								</a>
							}
							else
							{
								<a class="follow-btn" asp-controller="Show" asp-action="FollowShow" asp-route-id="@show.Id">
									Follow
								</a>
							}
						}
							</div>
						</div>
					</a>
		}
	</div>
</div>